*{
    box-sizing: border-box;
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    align-items: center;
    color: white;
    padding: 3px 10px;
    justify-content: space-between;
}
.leftSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    height: 100%;
}
header img{
    height: 60px;
    width: 60px;
}

.nav-box{
    display: flex;
    gap: 5px;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-child{
    /* background-color: rgb(59, 59, 59); */
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rightSide{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.mainContent{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    gap: 5px;
}
.upperContent{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
    font-size: 30px;
}
.upperContent p{
    font-weight: bolder;
    font-size: 50px;
}
hr{
    background-color: black;
    height: 2px;
    width: 100%;
}
.lowerContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin: 0px 15px; */
}
#ourBox{
    border: black solid 1px;
    padding: 14px;
    height: auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    /* align-items: center; */
}

#ourBox img{
    height: 450px;
    width: 600px;
    align-self: center;
    object-fit: cover;
}
