@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Henny+Penny&family=Mouse+Memoirs&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    /* top: 0; */
}
body{
    background-color: rgb(255, 255, 124);
}
header{
    top: 0;
    left: 0;
    height: 22vh;
    width: 100%;
    /* background: #b62424; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.head-top{
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    /* padding-top: 24px; */
    padding-top: 2%;
}
.head-top img{
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
}
.head-top h1{
    margin-right: 50%;
    color:rgb(0, 0, 0);
    font-family: 'Henny Penny', cursive;
}
.head-middle{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15%;
  font-family: 'Mouse Memoirs', sans-serif;
}

.head-bottom {
    height: 30%;
    width: 100%;
    background-color: rgb(141, 141, 33);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Mouse Memoirs', sans-serif;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.inner-para{
    height: auto;
    width: 15%;
    background-color: rgb(0, 0, 0);;
    padding: 4px 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
}
.bodyPart{
    font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
    flex: row;
    width: 100%;
    height: 110vh;
    /* background-color: rgb(131, 131, 255); */
    align-items: center;
    justify-content: space-evenly;
}
.cleft{
    /* background-color: beige; */
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftone{
    height: 46%;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.leftone img{
    border-radius: 50%;
    height: 140px;
    width: 140px;
}
.leftone p{
    align-self: flex-start;
}
.cright{
    /* background-color: chartreuse; */
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.solo-top{
    padding-left: 8px;
    height: 5%;
    font-size: 25px;
    font-family: 'Mouse Memoirs', sans-serif;
}
.mainContent{
    height: 95%;
    width: 98%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    gap: 8px;
}   

#samebox{
    height: 49%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    background-color: white;
    border: 1px black solid;
}
#samebox img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

footer{
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
}
footer a{
    color: white;
}
li{
    list-style-type: disc;
}